@font-face {
  font-family: "Museo Sans Cyrl";
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
  src: url("../fonts/MuseoSansCyrl-100.ttf");
}
@font-face {
  font-family: "Museo Sans Cyrl";
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
  src: url("../fonts/MuseoSansCyrl-300.ttf");
}
@font-face {
  font-family: "Museo Sans Cyrl";
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  src: url("../fonts/MuseoSansCyrl-500.ttf");
}
@font-face {
  font-family: "Museo Sans Cyrl";
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  src: url("../fonts/MuseoSansCyrl-700.ttf");
}
@font-face {
  font-family: "Museo Sans Cyrl";
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
  src: url("../fonts/MuseoSansCyrl-900.ttf");
}
@font-face {
  font-family: "Bebas Neue";
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
  src: url("../fonts/Bebas Neue.otf");
}
@font-face {
  font-family: "Playfair Display Bold";
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
  src: url("../fonts/PlayfairDisplay-Bold.ttf");
}
.new_css a {
  text-decoration: none;
  font-size: 16px;
  color: #d4823f;
  line-height: 1.5;
}
.new_css a.dec {
  text-decoration: underline;
}
.new_css a.pdf {
  text-align: left;
  display: inline-block;
  position: relative;
  padding-left: 45px;
}
.new_css a.pdf br {
  display: none;
}
.new_css a.pdf::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  background: url("../img/icons/pdf-icon.png") no-repeat center;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}
.new_css a.pdf .pdf-name {
  font-size: 15px;
  color: #f04646;
  text-decoration: underline;
  line-height: 1.333;
}
.new_css a.pdf .pdf-size {
  font-size: 14px;
  display: block;
  color: #717171;
  line-height: 1.429;
}
.new_css h1 {
  text-align: center;
  margin-top: 121px;
  margin-bottom: 0px;
}
.new_css h1 .sub-head {
  display: block;
  font-size: 34px;
  font-family: "Museo Sans Cyrl";
  font-weight: 300;
  margin-top: 30px;
}
.new_css h1 {
  font-family: "Playfair Display Bold";
  text-shadow: 6.128px 5.142px 16px rgba(58, 36, 18, 0.004);
  color: #ffffff;
  font-size: 60px;
}
.new_css h2 {
  font-size: 36px;
  font-family: "Playfair Display bold";
  color: #474747;
  margin: 0px;
  line-height: 100%;
  text-align: center;
}
.new_css h2.left {
  text-align: left;
}
.new_css h2.left::after {
  content: "";
  display: block;
  background-color: #d4823f;
  width: 70px;
  height: 2px;
  margin-top: 20px;
  margin-left: 0px;
}
.new_css h2::after {
  content: "";
  display: block;
  background-color: #d4823f;
  width: 70px;
  height: 2px;
  margin: 0 auto;
  margin-top: 20px;
}
.new_css h3 {
  font-size: 24px;
  color: #474747;
  line-height: 1.2;
  margin: 0px;
}
.new_css p {
  font-size: 16px;
  font-family: "Museo Sans Cyrl";
  color: #4f4f4f;
  line-height: 1.5;
  font-weight: 300;
}
.new_css .button {
  font-size: 16px;
  background-color: #ffaa07;
  width: 200px;
  line-height: 50px;
  color: white;
  border: none;
  font-weight: 500;
  text-align: center;
  font-family: "Museo Sans Cyrl";
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
.new_css .button.regular {
  border-radius: 3px;
  background-color: #d4823f;
}
.new_css .button.href {
  padding-right: 20px;
  box-sizing: border-box;
  position: relative;
}
.new_css .button.href::after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 8px;
  background: url("../img/icons/arrow-icon.png") no-repeat center;
  right: 30px;
  top: 0px;
  bottom: 0px;
  margin: auto 0;
}
.new_css {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Museo Sans Cyrl";
}
.new_css body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Museo Sans Cyrl";
}
.new_css .content-box {
  max-width: 1170px;
  margin: 0 auto;
}
.new_css .logo {
  display: flex;
  align-items: flex-start;
  color: #ffffff;
}
.new_css .logo img {
  margin-right: 22px;
}
.new_css .logo span {
  display: block;
}
.new_css .logo .logo-head {
  font-family: "Bebas Neue";
  font-size: 32px;
  margin-top: 13px;
}
.new_css .logo .logo-sub {
  font-size: 14px;
  letter-spacing: 0.3;
  font-family: "Museo Sans Cyrl";
  text-transform: uppercase;
  line-height: 1.143;
}
.new_css footer {
  background: linear-gradient(140deg, rgba(24, 5, 5, 0.6) 0%, rgba(57, 32, 29, 0.6) 99%), url("../img/footer.png") no-repeat center;
  background-size: cover;
}
.new_css footer .logo {
  padding-top: 40px;
}
.new_css footer .social-href {
  margin-top: 90px;
}
.new_css footer .footer-contacts {
  display: grid;
  grid-row-gap: 27px;
  flex-direction: column;
  color: #ffffff;
  margin-top: 40px;
}
.new_css footer .footer-inner {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.new_css footer .footer-inner > div {
  padding-bottom: 40px;
}
.new_css .footer-information {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding-top: 80px;
}
.new_css .footer-information a {
  font-size: 15px;
  color: #ffffff;
  margin-top: 15px;
  display: block;
}
.new_css .footer-information .href {
  text-align: left;
}
.new_css .footer-information h5 {
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 10px;
}
.new_css .footer-information .copyright {
  font-size: 15px;
  margin-top: 104px;
  color: #ffffff;
  line-height: 1.333;
}
.new_css .footer-form {
  color: white;
  width: 400px;
  padding: 0px 20px;
  background-color: rgba(38, 7, 7, 0.749);
  box-sizing: border-box;
  padding-top: 80px;
}
.new_css .footer-form h4 {
  font-size: 22px;
  text-align: center;
  margin-top: 0px;
}
.new_css .footer-form p {
  font-size: 16px;
  color: #ffffff;
}
.new_css .footer-form input,
.new_css .footer-form textarea {
  border: none;
  background: none;
  padding-left: 10px;
  font-size: 12px;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
  color: #ffffff;
  line-height: 1.667;
  width: 100%;
  display: inline-block;
  margin-top: 30px;
  outline: none;
  resize: none;
  box-sizing: border-box;
}
.new_css .footer-form .button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.new_css header {
  height: 750px;
  background: url("../img/header.png") no-repeat center;
  background-size: cover;
  color: #ffffff;
}
.new_css header .header-inner {
  display: flex;
  padding-top: 90px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.302);
}
.new_css header .header-inner nav {
  flex: auto;
  margin-left: 100px;
}
.new_css header .header-inner nav a {
  font-size: 16px;
  color: #ffffff;
  line-height: 1;
  text-decoration: none;
}
.new_css header .header-inner nav .nav-main {
  display: flex;
  justify-content: space-between;
}
.new_css header .nav-top {
  font-weight: 100;
  position: absolute;
  width: 100%;
  height: 60px;
  background: rgba(185, 113, 33, 0.749);
  top: 0px;
  left: 0px;
  font-size: 15px;
}
.new_css header .nav-top .nav-top-inner {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.new_css header .button {
  margin: 0 auto;
  display: block;
  margin-top: 47px;
}
.new_css .social-href a {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.new_css .social-href a:not(:last-child) {
  margin-right: 20px;
}
.new_css .social-href .inst {
  background: url("../img/icons/inst-icon.png");
}
.new_css .social-href .fb {
  background: url("../img/icons/fb-icon.png");
}
.new_css .social-href .tw {
  background: url("../img/icons/tw-icon.png");
}
.new_css .social-href .pn {
  background: url("../img/icons/pn-icon.png");
}
.new_css .nav-top-item {
  vertical-align: middle;
}
.new_css .nav-top-item img {
  margin-right: 10px;
}
.new_css .nav-top-item span,
.new_css .nav-top-item img {
  vertical-align: middle;
}
.new_css .about-section {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
.new_css .about-section .about-video {
  min-width: 570px;
  margin-left: 47px;
}
.new_css .portfolio-section {
  margin-top: 70px;
}
.new_css .price-section {
  margin-top: 115px;
}
.new_css .articles-section {
  margin-top: 70px;
}
.new_css .price-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.new_css .price-nav .price-nav-item {
  font-size: 16px;
  color: #474747;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.new_css .price-nav .price-nav-item.active {
  color: #d4823f;
}
.new_css .price-nav .price-nav-item .price-nav-img {
  position: relative;
  border-radius: 50%;
  transition: all 0.3;
  background-color: rgba(255, 255, 255, 0.06);
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.15);
  width: 118px;
  height: 118px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 26px;
}
.new_css .price-nav .price-nav-item .price-nav-img img {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.new_css .price-nav .price-nav-item .anim {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  z-index: 10;
  top: 0px;
}
.new_css .price-nav .price-nav-item .anim.play {
  animation: anim 2.5s linear infinite;
}
@keyframes anim {
  1% {
    background: none;
  }
  2% {
    background: url("../img/price-nav-anim/i0_0000000009.png") center / 100%;
  }
  3% {
    background: url("../img/price-nav-anim/i0_0000000010.png") center / 100%;
  }
  4% {
    background: url("../img/price-nav-anim/i0_0000000010.png") center / 100%;
  }
  5% {
    background: url("../img/price-nav-anim/i0_0000000011.png") center / 100%;
  }
  6% {
    background: url("../img/price-nav-anim/i0_0000000011.png") center / 100%;
  }
  7% {
    background: url("../img/price-nav-anim/i0_0000000012.png") center / 100%;
  }
  8% {
    background: url("../img/price-nav-anim/i0_0000000012.png") center / 100%;
  }
  9% {
    background: url("../img/price-nav-anim/i0_0000000013.png") center / 100%;
  }
  10% {
    background: url("../img/price-nav-anim/i0_0000000013.png") center / 100%;
  }
  11% {
    background: url("../img/price-nav-anim/i0_0000000014.png") center / 100%;
  }
  12% {
    background: url("../img/price-nav-anim/i0_0000000014.png") center / 100%;
  }
  13% {
    background: url("../img/price-nav-anim/i0_0000000015.png") center / 100%;
  }
  14% {
    background: url("../img/price-nav-anim/i0_0000000015.png") center / 100%;
  }
  15% {
    background: url("../img/price-nav-anim/i0_0000000016.png") center / 100%;
  }
  16% {
    background: url("../img/price-nav-anim/i0_0000000016.png") center / 100%;
  }
  17% {
    background: url("../img/price-nav-anim/i0_0000000017.png") center / 100%;
  }
  18% {
    background: url("../img/price-nav-anim/i0_0000000017.png") center / 100%;
  }
  19% {
    background: url("../img/price-nav-anim/i0_0000000018.png") center / 100%;
  }
  20% {
    background: url("../img/price-nav-anim/i0_0000000018.png") center / 100%;
  }
  21% {
    background: url("../img/price-nav-anim/i0_0000000019.png") center / 100%;
  }
  22% {
    background: url("../img/price-nav-anim/i0_0000000019.png") center / 100%;
  }
  23% {
    background: url("../img/price-nav-anim/i0_0000000020.png") center / 100%;
  }
  24% {
    background: url("../img/price-nav-anim/i0_0000000020.png") center / 100%;
  }
  25% {
    background: url("../img/price-nav-anim/i0_0000000021.png") center / 100%;
  }
  26% {
    background: url("../img/price-nav-anim/i0_0000000021.png") center / 100%;
  }
  27% {
    background: url("../img/price-nav-anim/i0_0000000022.png") center / 100%;
  }
  28% {
    background: url("../img/price-nav-anim/i0_0000000022.png") center / 100%;
  }
  29% {
    background: url("../img/price-nav-anim/i0_0000000023.png") center / 100%;
  }
  30% {
    background: url("../img/price-nav-anim/i0_0000000023.png") center / 100%;
  }
  31% {
    background: url("../img/price-nav-anim/i0_0000000024.png") center / 100%;
  }
  32% {
    background: url("../img/price-nav-anim/i0_0000000024.png") center / 100%;
  }
  33% {
    background: url("../img/price-nav-anim/i0_0000000025.png") center / 100%;
  }
  34% {
    background: url("../img/price-nav-anim/i0_0000000025.png") center / 100%;
  }
  35% {
    background: url("../img/price-nav-anim/i0_0000000026.png") center / 100%;
  }
  36% {
    background: url("../img/price-nav-anim/i0_0000000026.png") center / 100%;
  }
  37% {
    background: url("../img/price-nav-anim/i0_0000000027.png") center / 100%;
  }
  38% {
    background: url("../img/price-nav-anim/i0_0000000027.png") center / 100%;
  }
  39% {
    background: url("../img/price-nav-anim/i0_0000000028.png") center / 100%;
  }
  40% {
    background: url("../img/price-nav-anim/i0_0000000028.png") center / 100%;
  }
  41% {
    background: url("../img/price-nav-anim/i0_0000000029.png") center / 100%;
  }
  42% {
    background: url("../img/price-nav-anim/i0_0000000029.png") center / 100%;
  }
  43% {
    background: url("../img/price-nav-anim/i0_0000000030.png") center / 100%;
  }
  44% {
    background: url("../img/price-nav-anim/i0_0000000030.png") center / 100%;
  }
  45% {
    background: url("../img/price-nav-anim/i0_0000000031.png") center / 100%;
  }
  46% {
    background: url("../img/price-nav-anim/i0_0000000031.png") center / 100%;
  }
  47% {
    background: url("../img/price-nav-anim/i0_0000000032.png") center / 100%;
  }
  48% {
    background: url("../img/price-nav-anim/i0_0000000032.png") center / 100%;
  }
  49% {
    background: url("../img/price-nav-anim/i0_0000000033.png") center / 100%;
  }
  50% {
    background: url("../img/price-nav-anim/i0_0000000033.png") center / 100%;
  }
  51% {
    background: url("../img/price-nav-anim/i0_0000000034.png") center / 100%;
  }
  52% {
    background: url("../img/price-nav-anim/i0_0000000034.png") center / 100%;
  }
  53% {
    background: url("../img/price-nav-anim/i0_0000000035.png") center / 100%;
  }
  54% {
    background: url("../img/price-nav-anim/i0_0000000035.png") center / 100%;
  }
  55% {
    background: url("../img/price-nav-anim/i0_0000000036.png") center / 100%;
  }
  56% {
    background: url("../img/price-nav-anim/i0_0000000036.png") center / 100%;
  }
  57% {
    background: url("../img/price-nav-anim/i0_0000000037.png") center / 100%;
  }
  58% {
    background: url("../img/price-nav-anim/i0_0000000037.png") center / 100%;
  }
  59% {
    background: url("../img/price-nav-anim/i0_0000000038.png") center / 100%;
  }
  60% {
    background: url("../img/price-nav-anim/i0_0000000038.png") center / 100%;
  }
  61% {
    background: url("../img/price-nav-anim/i0_0000000039.png") center / 100%;
  }
  62% {
    background: url("../img/price-nav-anim/i0_0000000039.png") center / 100%;
  }
  63% {
    background: url("../img/price-nav-anim/i0_0000000040.png") center / 100%;
  }
  64% {
    background: url("../img/price-nav-anim/i0_0000000040.png") center / 100%;
  }
  65% {
    background: url("../img/price-nav-anim/i0_0000000041.png") center / 100%;
  }
  66% {
    background: url("../img/price-nav-anim/i0_0000000041.png") center / 100%;
  }
  67% {
    background: url("../img/price-nav-anim/i0_0000000042.png") center / 100%;
  }
  68% {
    background: url("../img/price-nav-anim/i0_0000000042.png") center / 100%;
  }
  69% {
    background: url("../img/price-nav-anim/i0_0000000043.png") center / 100%;
  }
  70% {
    background: url("../img/price-nav-anim/i0_0000000043.png") center / 100%;
  }
  71% {
    background: url("../img/price-nav-anim/i0_0000000044.png") center / 100%;
  }
  72% {
    background: url("../img/price-nav-anim/i0_0000000044.png") center / 100%;
  }
  73% {
    background: url("../img/price-nav-anim/i0_0000000045.png") center / 100%;
  }
  74% {
    background: url("../img/price-nav-anim/i0_0000000045.png") center / 100%;
  }
  75% {
    background: url("../img/price-nav-anim/i0_0000000046.png") center / 100%;
  }
  76% {
    background: url("../img/price-nav-anim/i0_0000000046.png") center / 100%;
  }
  77% {
    background: url("../img/price-nav-anim/i0_0000000047.png") center / 100%;
  }
  78% {
    background: url("../img/price-nav-anim/i0_0000000047.png") center / 100%;
  }
  79% {
    background: url("../img/price-nav-anim/i0_0000000048.png") center / 100%;
  }
  80% {
    background: none;
  }
}
.new_css .price-list {
  margin-top: 115px;
}
.new_css .price-list > p {
  margin: 0px;
  margin-top: 15px;
}
.new_css .price-list .price-list-inner {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.new_css .price-list .price-list-about {
  margin-left: 41px;
}
.new_css .price-list .price-list-about p {
  margin-top: 45px;
}
.new_css .price-list .price-list-about button {
  margin-top: 25px;
}
.new_css .price-list-table {
  display: none;
}
.new_css .price-list-table.active {
  display: block;
}
.new_css .price-list-table table {
  width: 790px;
  display: table;
  border-collapse: separate;
  border-spacing: 0px;
  border: 1px solid #8b8b8b;
  border-bottom: none;
  line-height: 1.2;
  color: #474747;
}
.new_css .price-list-table table th {
  height: 50px;
  width: 25%;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  border-bottom: 1px solid #8b8b8b;
}
.new_css .price-list-table table th:not(:last-child) {
  border-right: 1px solid #8b8b8b;
}
.new_css .price-list-table table td {
  height: 50px;
  width: 25%;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  border-bottom: 1px solid #8b8b8b;
}
.new_css .price-list-table table td:not(:last-child) {
  border-right: 1px solid #8b8b8b;
}
.new_css .price-list-table table td span {
  font-weight: 700;
}
.new_css .article-card {
  width: 370px;
  height: 250px;
  position: relative;
  margin-bottom: 170px;
}
.new_css .article-card img {
  width: 100%;
}
.new_css .article-card .article-card-info {
  position: absolute;
  width: 320px;
  height: 260px;
  bottom: -170px;
  right: 0px;
  left: 0px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0px 19px 14px -9px rgba(0, 0, 0, 0.5);
  padding-bottom: 35px;
  padding: 20px;
  box-sizing: border-box;
}
.new_css .article-card .article-card-info p {
  max-height: 72px;
  overflow: hidden;
}
.new_css .article-card .article-card-info .date {
  font-size: 14px;
  font-family: "Museo Sans Cyrl";
  color: #7e7e7e;
  line-height: 1.2;
  text-align: left;
}
.new_css .article-card .article-card-info h3 {
  font-size: 18px;
  margin-top: 20px;
  color: #474747;
  line-height: 1.2;
  text-align: left;
}
.new_css .article-card .article-card-info .href {
  text-align: right;
}
.new_css .slider {
  margin-top: 70px;
  overflow-x: hidden;
}
.new_css .slider .slider-card {
  position: relative;
  right: 0px;
  transition: all 1s;
}
.new_css .slider.articles .slider-card {
  display: flex;
  flex-shrink: 1;
}
.new_css .slider.articles .slider-card .slider-item {
  margin-right: 30px;
}
.new_css .slider.portfolio .slider-card {
  display: grid;
  grid-template-rows: repeat(2, 180px);
  grid-template-columns: repeat(8, 270px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: stretch;
  align-items: stretch;
}
.new_css .slider.portfolio .slider-card .big {
  grid-row-start: 1;
  grid-row-end: 3;
}
.new_css .slider.portfolio .slider-card .slider-item {
  overflow: hidden;
}
.new_css .slider.portfolio .slider-card .slider-item.show {
  display: block;
}
.new_css .slider .slider-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.new_css .slider .slider-nav .slider-nav-item {
  cursor: pointer;
  border-width: 1px;
  border-color: #a6a6a6;
  border-style: solid;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}
.new_css .slider .slider-nav .slider-nav-item span {
  background: #a6a6a6;
}
.new_css .slider .slider-nav .slider-nav-item.active {
  border-color: #d4823f;
}
.new_css .slider .slider-nav .slider-nav-item.active span {
  background: #d4823f;
}
.new_css .slider .slider-nav .slider-nav-item.pre .arrow {
  position: relative;
  width: 20px;
  height: 1px;
}
.new_css .slider .slider-nav .slider-nav-item.pre .arrow span:nth-child(1) {
  position: absolute;
  width: 7px;
  height: 1px;
  transform: rotate(45deg);
  bottom: -3px;
  left: 0px;
}
.new_css .slider .slider-nav .slider-nav-item.pre .arrow span:nth-child(2) {
  position: absolute;
  width: 7px;
  height: 1px;
  transform: rotate(-45deg);
  top: -3px;
  left: 0px;
}
.new_css .slider .slider-nav .slider-nav-item.next .arrow {
  position: relative;
  width: 20px;
  height: 1px;
}
.new_css .slider .slider-nav .slider-nav-item.next .arrow span:nth-child(1) {
  position: absolute;
  width: 7px;
  height: 1px;
  transform: rotate(45deg);
  top: -3px;
  right: 0px;
}
.new_css .slider .slider-nav .slider-nav-item.next .arrow span:nth-child(2) {
  position: absolute;
  width: 7px;
  height: 1px;
  transform: rotate(-45deg);
  bottom: -3px;
  right: 0px;
}
.new_css .slider .mobile-menu-button {
  display: none;
}
@media (max-width: 1170px) {
  .new_css .content-box {
    max-width: 95%;
  }
  .new_css header {
    height: auto;
    padding-bottom: 30px;
  }
  .new_css header nav {
    display: none;
  }
  .new_css header .header-inner {
    padding-top: 33px;
    justify-content: center;
    border-bottom: none;
  }
  .new_css header .button {
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid;
    background: rgba(0, 0, 0, 0);
  }
  .new_css h1 {
    font-size: 28px;
    font-weight: bold;
  }
  .new_css h1 .sub-head {
    font-size: 18px;
    margin-top: 10px;
  }
  .new_css h2 {
    font-size: 36px;
  }
  .new_css .about-section {
    flex-direction: column;
  }
  .new_css .about-section .about-video {
    margin-left: 0px;
    min-width: 95%;
    height: 350px;
    margin-top: 20px;
  }
  .new_css .price-list .price-list-inner {
    flex-direction: column;
  }
  .new_css .price-list-table table {
    width: 100%;
  }
  .new_css .price-list {
    margin-top: 40px;
  }
  .new_css .price-list .price-list-about {
    margin-left: 0px;
    margin-top: 40px;
  }
  .new_css .price-list .price-list-about p {
    margin-top: 25px;
    margin-bottom: 0px;
  }
  .new_css .price-nav {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 15px;
    justify-content: center;
  }
  .new_css .price-nav .price-nav-item {
    justify-content: flex-start;
  }
  .new_css .price-nav .price-nav-item .price-nav-img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  .new_css .price-nav .price-nav-item .price-nav-img img {
    width: 100%;
  }
  .new_css .price-section {
    margin-top: 60px;
  }
  .new_css .slider.articles .slider-card .slider-item {
    min-width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 0px;
  }
  .new_css .footer-form {
    display: none;
  }
  .new_css footer .footer-inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .new_css footer .footer-inner > div {
    max-width: 300px;
    padding: 0px;
  }
  .new_css footer .footer-inner .footer-information h5 {
    display: none;
  }
  .new_css footer .footer-inner .footer-information .href {
    display: none;
  }
  .new_css footer .footer-inner .footer-information .copyright {
    margin-top: 50px;
  }
  .new_css footer .footer-inner .social-href {
    margin-top: 48px;
    text-align: center;
  }
  .new_css footer .footer-inner .logo {
    justify-content: center;
  }
  .new_css .mobile-menu-button {
    display: block;
    position: absolute;
    top: 50px;
    left: 30px;
  }
}
